@charset "UTF-8";
/* CSS Document */

body {
	margin-top: 0;
	font-size: 1em;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/*
ul, ol, dl { 
	padding: 0;
	margin: 0 50px;
}
*/
h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;
	padding-right: 10px;
	padding-left: 10px;
}
.subHead {
	font-size: 0.5em;
	color: #666;
	font-weight: normal;
}
small {
	font-size: 0.75em;
}
code {
	background-color: #eee;
	color: #333;
	padding: 5px;
	font-family: "Lucida Console", Monaco, monospace;
}
input {
	font-size: 1.25em;
	padding: 3px;
}
a img {
	border: none;
}
a:link {
	color: #09f;
	text-decoration: underline;
}
a:visited {
	color: #339;
	text-decoration: underline;
}
a:hover, a:active, a:focus {
	text-decoration: none;
}
.container {
	width: 960px;
	margin-right: auto;
	margin-left: auto;
	text-align: left;
	clear: both;
}
.smallContainer {
	width: 620px;
	margin-right: auto;
	margin-left: auto;
	text-align: left;
	clear: both;
	padding-top: 60px;
	padding-bottom: 50px;
}
.fltrt {
	float: right;
}
.fltlft {
	float: left;
}
.clearfloat {
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0px;
}

.private {
    color: #ff3333;
}

.navbar {
	width: 960px;
	margin-right:auto;
	margin-left:auto;
	vertical-align: center;
	position: relative;
}
#nav {
	height: 80px;
	padding-top: 20px;
}
.logo {
	width: 300px;
	margin-left: 10px;
	margin-right: 10px;
	float: left;
	text-align: left;
	padding-top: 5px;
	border: none;
}
.navbar ul {
	list-style:none;
	float: left;
}
.navbar li {
	width: 140px;
	margin-left: 10px;
	display: block;
	float: left;
	padding-bottom: 20px;
}
.navbar li.in {
	border-bottom: 2px solid black;
}
.navbar .section {
	font-weight: bold;
	font-style:italic;
	font-size: 0.875em;
}
.navbar .desc {
	font-size: 0.675em;
	line-height:1.5em;
	color: #666;
}
.navbar a:link, .navbar a:visited, .navbar a:visited {
	text-decoration: none;
	color: #000;
}
.navbar a:hover {
	text-decoration: none;
	color: #09F;
}
.homeThird {
	float: left;
	width: 320px;
	text-align: center;
}
.homeThird img {
	border: none;
}
h2.pageCount {
	clear: both;
	margin-top: 20px;
}
.atlasThumb {
	margin-left: 10px;
	float: left;
	width: 300px;
	margin-bottom: 2em;
}
.atlasThumb img {
	border: 1px solid black;
}

.atlasThumb img.private {
	border: 1px solid #ff3333;
}

.hotSpot {
	width: 48%;
	margin-left: 10px;
	margin-bottom: 2em;
	float: left;
}
/*#map { width: 100%; height: 300px; }*/
    .atlas {
	width: 100%;
	height: 300px;
}
.overview_print {
	width: 60%;
	float: right;
	height: 150px;
	margin-left: 10px;
	margin-bottom: 10px;
	border: 1px solid black;
}
.print {
	width: 100%;
	height: 600px;
	border: 1px solid black;
}
/* SCAN.PHP */
	
.buttonBar {
	float: right;
	text-align: right;
	padding: 10px;
}
.buttonBar button {
	margin-left: 20px;
	font-size: 1.25em;
}
.fieldSet {
	float: right;
	width: 400px;
	margin-left: 20px;
}
.fieldSet iframe {
	height: 380px;
	width: 400px;
}
.page_map {
	float: right;
}
.page_map img {
}
.large {
	width: 960px;
	height: 600px;
}
.small {
	width: 520px;
	height: 400px;
}
#notes_title {
	margin-left: 20px;
}
#notes {
	margin: 20px;
}
#notes_submit {
	margin-left: 20px;
}
#scan-form, #scan-form .marker {
	position: absolute;
}
#scan-form .marker img {
	cursor: pointer;
}
.hide {
	display: none;
}
.show {
	display: block;
}
#notes {
}
button, #remove, #remove_new {
	margin-right: 10px;
}
.FieldsetList {
	width: 20%;
	margin-right: 20px;
}
.largePage {
	float: left;
}
.progressBarCase {
	background-color:#f5f5f5;
	border-bottom: 1px solid #000;
	height: 20px;
	width:500px;
	margin: 40px;
}
.progressBar {
	background-color:#000;
	height: 20px;
}
#search-form {
	margin-left: 10px;
	padding: 20px;
}
#footer {
	width: 960px;
	margin-right: auto;
	margin-left: auto;
	text-align: left;
	clear: both;
	padding-top: 100px;
	font-size: 0.825em;
	line-height: 1.25em;
}
#subnav_container {
	position: absolute;
	display: inline-block;
	border-top: 2px solid #000;
	left: 360px;
	z-index: 2;
	background-color: #FFF;
}
.subnav {
	display: inline-block;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 4px;
	margin-left: 0px;
	width: 75px;
	text-align: left;
	color: #CCC;
	font-size: 12px;
}
.subnav .label {
	display: inline-block;
}
.subnav.info {
	border-left: 1px dashed #666;
	border-right: 1px dashed #666;
}
.subnav.active {
	color: #000;
}
#page_count_container {
	display: inline-block;
	width: 2em;
	margin: 0px 20px 0px 20px;
	text-align: center;
}
