@charset "UTF-8";
/* CSS Document */

body {
	margin-top: 0;
	font-size: 1em;
	font-family:"Helvetica Neue", Helvetica, Arial, "Lucida Grande", "Arial Unicode MS", sans-serif;
}
/*
ul, ol, dl { 
	padding: 0;
	margin: 0 50px;
}
*/

.subHead {
	color: #666;
	font-weight: normal;
}
small {
	font-size: 13px;
}
.grey {
	color: #666;
}
code {
	background-color: #eee;
	color: #333;
	padding: 5px;
	font-family: "Lucida Console", Monaco, monospace;
}
input {
	padding: 3px;
    font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', 'Arial Unicode MS', sans-serif;
}
a img {
	border: none;
}
a:link {
	color: #09f;
	text-decoration: underline;
}
a:visited {
	color: #339;
	text-decoration: underline;
}
a:hover, a:active, a:focus {
	text-decoration: none;
}
.container {
	width: 960px;
	margin-right: auto;
	margin-left: auto;
	text-align: left;
	clear: both;
}
.smallContainer {
	width: 620px;
	margin-right: auto;
	margin-left: auto;
	text-align: left;
	clear: both;
	padding-top: 60px;
	padding-bottom: 50px;
}
.smallContainer input, .smallContainer textarea {
	font-size: 18px;
}
.smallLayoutContainer {
	width: 620px;
	margin-right: auto;
	margin-left: auto;
	text-align: left;
	clear: both;
	padding-top: 60px;
}
.fltrt {
	float: right;
}
.fltlft {
	float: left;
}
.clearfloat {
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0px;
}

.private {
    color: #fff;
    background-color: #ff3333;
    padding: 2px 5px;
}

.navbar {
	width: 960px;
	margin-right:auto;
	margin-left:auto;
	vertical-align: center;
	position: relative;
}
#nav {
	height: 80px;
	padding-top: 20px;
}
.logo {
	width: 300px;
	margin-left: 10px;
	margin-right: 10px;
	float: left;
	text-align: left;
	padding-top: 5px;
	border: none;
}
.navbar ul {
	list-style:none;
	float: left;
}
.navbar li {
	width: 140px;
	margin-left: 10px;
	display: block;
	float: left;
	padding-bottom: 20px;
	line-height: 20px;
}
.navbar li.in {
	border-bottom: 2px solid black;
}
.navbar .section {
	font-weight: bold;
	font-style:italic;
	font-size: 14px;
}
.navbar .desc {
	margin-top: 0;
	font-size: 11px;
	color: #666;
}
.navbar a:link, .navbar a:visited, .navbar a:visited {
	text-decoration: none;
	color: #000;
}
.navbar a:hover {
	text-decoration: none;
	color: #09F;
}
.homeThird {
	float: left;
	width: 320px;
	text-align: center;
}
.homeThird img {
	border: none;
}
h2.pageCount {
	clear: both;
	margin-top: 20px;
}
#columns {
	column-count: 3;
	column-gap: 15px;
	column-fill: auto;
	-moz-column-count: 3;
	-moz-column-gap: 10px;
	-moz-column-fill: auto;
	-webkit-column-count: 3;
	-webkit-column-gap: 10px;
	-webkit-column-fill: auto;
}
.atlasThumb {
        margin-left: 10px;
        float: left;
        width: 300px;
        margin-bottom: 2em;
}

.atlasPin {
	column-break-inside: avoid;
	-moz-column-break-inside: avoid;
	-webkit-column-break-inside: avoid;
	display: inline-block;
	margin: 0 2px 15px;
	padding: 15px;
	border: 2px solid #FAFAFA;
	box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
	background: #FEFEFE;
	background-image: linear-gradient(45deg, #FFF, #F9F9F9);
	color: #666;
}
.atlasPin img {
	margin-bottom: 20px;
}

.atlasThumb img.private {
	border: 1px solid #ff3333;
}

.hotSpot {
	width: 48%;
	margin-left: 10px;
	margin-bottom: 2em;
	float: left;
}
/*#map { width: 100%; height: 300px; }*/
    .atlas {
	width: 100%;
	height: 300px;
}
.overview_print {
	width: 60%;
	float: right;
	height: 150px;
	margin-left: 10px;
	margin-bottom: 10px;
	border: 1px solid black;
}
.print {
	width: 100%;
	height: 600px;
	border: 1px solid black;
}
/* SCAN.PHP */
	
.buttonBar {
	float: right;
	text-align: right;
	padding: 10px;
}
.buttonBar button {
	margin-left: 20px;
	font-size: 18px;
}
.fieldSet {
	float: right;
	width: 400px;
	margin-left: 20px;
}
.fieldSet iframe {
	height: 380px;
	width: 400px;
}
.page_map {
	float: right;
}
.page_map img {
}
.large {
	width: 960px;
	height: 600px;
}
.small {
	width: 520px;
	height: 400px;
}
#notes_title {
	margin-left: 20px;
}
#notes {
	margin: 20px;
}
#notes_submit {
	margin-left: 20px;
}
#scan-form, #scan-form .marker {
	position: absolute;
}
#scan-form .marker img {
	cursor: pointer;
}
.hide {
	display: none;
}
.show {
	display: block;
}
#notes {
}
button, #remove, #remove_new {
	margin-right: 10px;
}
.FieldsetList {
	width: 20%;
	margin-right: 20px;
}
.largePage {
	float: left;
}
.progressBarCase {
	background-color:#f5f5f5;
	border-bottom: 1px solid #000;
	height: 20px;
	width:500px;
	margin: 40px;
}
.progressBar {
	background-color:#000;
	height: 20px;
}
#search-form {
	margin-left: 10px;
	padding: 20px;
}
#footer {
	width: 960px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	clear: both;
	margin-top: 60px;
	margin-bottom: 20px;
	font-size: 14px;
	line-height: 20px;
}
#footer small {
	color: #666;
}
#subnav_container {
	position: absolute;
	display: inline-block;
	border-top: 2px solid #000;
	left: 360px;
	z-index: 2;
	background-color: #FFF;
	line-height: 14px;
}
.subnav {
	display: inline-block;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 5px;
	margin-left: 0px;
	width: 75px;
	text-align: left;
	color: #CCC;
	font-size: 12px;
}
.subnav .label {
	display: inline-block;
}
.subnav.info {
	border-left: 1px dashed #666;
	border-right: 1px dashed #666;
}
.subnav.active {
	color: #000;
}
#page_count_container {
	display: inline-block;
	width: 2em;
	margin: 0px 20px 0px 20px;
	text-align: center;
}
#error {
	margin-bottom: 20px;
	background-color: #f2f2f2;
	border-left: 10px solid #ff3333;
	padding: 15px;
	color: #ff3333
}
.explanation {
	color: #666;
}
/* Cribbed/Tweaked From BOOTSTRAP.CSS */
/*!
 * Bootstrap v2.0.1
 *
 * Copyright 2012 Twitter, Inc
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Designed and built with all the love in the world @twitter by @mdo and @fat.
 */

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
	color: #333333;
	text-rendering: optimizelegibility;
}
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
	font-weight: normal;
	color: #999999;
}
h1 {
	font-size: 30px;
	line-height: 36px;
}
h1 small {
	font-size: 18px;
}
h2 {
	font-size: 24px;
	line-height: 36px;
}
h2 small {
	font-size: 18px;
}
h3 {
	line-height: 27px;
	font-size: 18px;
}
h3 small {
	font-size: 14px;
}
h4, h5, h6 {
	line-height: 18px;
}
h4 {
	font-size: 14px;
}
h4 small {
	font-size: 12px;
}
h5 {
	font-size: 12px;
}
h6 {
	font-size: 11px;
	color: #999999;
	text-transform: uppercase;
}
.pagination {
	height: 36px;
	margin-left: 280px;
	margin-bottom: 60px;
}
.pagination ul {
	display: inline-block;
 *display: inline;
  /* IE7 inline-block hack */

  *zoom: 1;
	margin-left: 0;
	margin-bottom: 0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.pagination li {
	display: inline;
}
.pagination a {
	float: left;
	padding: 0 14px;
	line-height: 34px;
	text-decoration: none;
	border: 1px solid #ddd;
	border-left-width: 0;
}
.pagination a:hover, .pagination .active a {
	background-color: #f5f5f5;
}
.pagination .active a {
	color: #999999;
	cursor: default;
}
.pagination .disabled a, .pagination .disabled a:hover {
	color: #999999;
	background-color: transparent;
	cursor: default;
}
.pagination li:first-child a {
	border-left-width: 1px;
	-webkit-border-radius: 3px 0 0 3px;
	-moz-border-radius: 3px 0 0 3px;
	border-radius: 3px 0 0 3px;
}
.pagination li:last-child a {
	-webkit-border-radius: 0 3px 3px 0;
	-moz-border-radius: 0 3px 3px 0;
	border-radius: 0 3px 3px 0;
}
.pagination-centered {
	text-align: center;
}
.pagination-right {
	text-align: right;
}

