
body {
    font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 20px;
}

h1, h2,
p { margin: 0 0 .5em 0; }

form {
    margin: 1em 0 0 0;
}

#container {
    overflow: auto;
    width: 100%;
}

#preview,
#map {
    height: 500px;
}

#preview {
    float: right;
    width: 30%;
    min-width: 200px;
    margin-left: 10px;
    border: 1px solid #000;
}

#preview_map {
    width:300px;
    height:380px;

    margin: auto;
}

#map {
    border: 1px solid #000;
}

div.padding {
    padding: 10px;
}

/**
 * Extent selector styles
 * NOTE: IE needs the transparent PNG background to receive mouse events.
 */

.map-extent {
    background-color: rgba(255,0,0,.1);
    background-color: transparent;
}

.map-extent .handles {
    border: 1px solid red;
    background-image: url(images/1px.png);
    z-index: 2;
}

.allow-move-center .handles {
    cursor: move;
}

.map-extent .handle {
    background-image: url(images/1px.png);
}

.map-extent .handle:hover {
    background-color: red;
}

.map-extent .handle-north,
.map-extent .handle-south { cursor: ns-resize; }
.map-extent .handle-east,
.map-extent .handle-west { cursor: ew-resize; }

.map-extent .handle-northwest,
.map-extent .handle-southeast { cursor: nwse-resize; }
.map-extent .handle-northeast,
.map-extent .handle-southwest { cursor: nesw-resize; }

.map-extent .handle-north {
    height: 5px;
    width: 100%;
    top: -1px;
}

.map-extent .handle-south {
    height: 5px;
    width: 100%;
    bottom: -1px;
}

.map-extent .handle-east {
    width: 5px;
    height: 100%; right: -1px;
}

.map-extent .handle-west {
    width: 5px;
    height: 100%;
    left: -1px;
}

.map-extent .handle-northwest,
.map-extent .handle-northeast,
.map-extent .handle-southeast,
.map-extent .handle-southwest {
    width: 9px;
    height: 9px;
    border-radius: 5px;
    background-color: red;
}

.map-extent .handle-northeast {
    top: -5px;
    right: -5px;
}
.map-extent .handle-southeast {
    bottom: -5px;
    right: -5px;
}
.map-extent .handle-southwest {
    bottom: -5px;
    left: -5px;
}
.map-extent .handle-northwest {
    top: -5px;
    left: -5px;
}

/* labels (optional) */
.map-extent .label {
    position: absolute;
    display: block;
    text-align: center;
    width: 10em;
}

.map-extent .label-northwest {
    top: -1em;
    margin-top: -10px;
    left: -5em;
}
.map-extent .label-southeast {
    top: 100%;
    margin-top: 10px;
    right: -5em;
}

/**
 * Page display styles
 */

#pages {
    position: absolute;
    z-index: 1;
    pointer-events: none;
}

#pages .page {
    border: 1px solid #fff;
    overflow: hidden;
}

.page .page-label {
    font-size: 14px;
    font-weight: bold;
    color: rgba(0,0,0,.4);

    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    line-height: 100%;
    margin-top: -.5em;
}

.page[data-size="tiny"] .page-label { display: none; }
.page[data-size="small"] .page-label { font-size: 20px; }
.page[data-size="medium"] .page-label { font-size: 40px; }
.page[data-size="large"] .page-label { font-size: 96px; }
.page[data-size="xlarge"] .page-label { font-size: 200px; }

/**
 * UI styles
 */

#page-zoom {
    display: inline-block;
    width: 300px;
    margin: 0 1em;
    vertical-align: middle;
}
